@import '_variables';
@import '_fonts';

html {
    font-size: 16px;
    font-family: Metropolis, sans-serif;
    @media (max-width: 992px) {
        font-size: 14px;
    }
}

body {
    background-color: white;
    color:$black;
    font-family: Metropolis, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

    @media (max-width: 992px) {
        font-size: 16px;
    }
    
h1 {
    font-family: Metropolis, sans-serif;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 62px;
    font-weight: 700;
    line-height: 1.161em;
    color: $black;
    @media (max-width: 992px) {
        font-size: 36px;
    }
}
h2 {
    font-family: Metropolis, sans-serif;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 62px;
    font-weight: 700;
    line-height: 1.161em;
    color: $black;
}
h3 {
    color: $black;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.227em;
}
h6 {
    letter-spacing: .06em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Metropolis, sans-serif;
    font-size: 18px;
    line-height: 1.111em;
    color:$base-color;
    @media (max-width: 992px) {
        font-size: 16px;
    }
    span {
        color:$base-color;
        font-weight:700;
    }
}
p {
    font-size: 1.125rem;
    color: $darkgray;
    font-family: Metropolis, sans-serif;
    font-weight: 400;
    @media (max-width: 992px) {
        font-size: 16px;
    }
}
.image-wrapper {
    box-shadow: 0 14px 42px 0 rgba(16, 16, 16, .14);
    flex-direction: column;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.radius-24px {
    border-radius: 24px;
}
.pl-15 {
    padding-left: 18%;
    @media (max-width: 992px) {
        padding-left: 0%;
        margin-bottom: 30px;
    }
}
.pr-15 {
    padding-right: 18%;
    @media (max-width: 992px) {
        padding-right: 0%;
        margin-bottom: 20px;
    }
}
.btn-outline-primary {
            border: 1px solid #ededed;
            background-color: white;
            box-shadow: 0 2px 6px 0 rgba(16, 16, 16, .04);
            color: $black;
            text-align: center;
            border-radius: 10px;
            padding: 15px 24px;
            font-weight: 500;
            line-height: 1.111em;
            transition: border-color .3s, background-color .3s, color .3s;
            &:hover {
                background-color: $base-color;
                border-color: $base-color;
            }
    }
    .btn-primary {
        background-color: $base-color;
        border-radius: 10px;
        border-color: $base-color;
        padding: 15px 24px;
        font-weight: 700;
        &:hover {
                background-color: $base-color2;
                border-color: $base-color2;
        }
    }

    .ourJourney {
        padding: 200px 0;
        position: relative;
        @media (max-width: 992px) {
            padding-top: 75px;
            padding-bottom: 75px;
            .btn-primary {
                margin-bottom: 45px;
            }
        }
        @media (max-width: 479px) {
            .btn-primary {
                width: 100%;
            }
        }
        .position-sticky {
            top:160px;
            display: block;
        }
        .block {
            border: 1px solid #ededed;
            background-color: white;
            box-shadow: 0 2px 12px 0 rgba(16, 16, 16, .08);
            border-radius: 24px;
            overflow: hidden;
            padding: 60px 53px;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
            h6 {
                margin-bottom: 12px;
            }
            h4 {
                margin-bottom: 32px;
                font-weight: 700;
                font-size: 24px;
            }
            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 1.667em;
            }
        }
    }
   
}

header {
    padding: 32px 0;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 12px rgba(18, 18, 18, .06);
    z-index: 99;
    background-color: white;
    transition: top 2s;
  
    
    nav.navbar.navbar-expand-lg {
        padding: 0;
    .navbar-brand {
        img {
            width: 161px;
        }
    }
    
   
    #navbarNav {
        background-color: white;
        li {
            padding-left: 13px;
            padding-right: 13px;
        
        a {
            color: $black;
            padding: 0;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.125em;
            &.active {
                color: $base-color;
            }
        }
        }
        
    }
    }

    @media (max-width: 992px) {
        padding-top: 24px;
        padding-bottom: 24px;
        .d-flex.d-none.d-md-block {
            display: none !important;
        }
    }
    .navbartoggler {border: 0;
        outline: none;
        box-shadow: none !important;
        border: 0;
        background-color: transparent;
        transition: .5s;
        &:focus, &:hover {
            outline: none;
            box-shadow: none !important;
            border: 0;
        }
        &.close {
            .navbar-toggler-icon:first-child {
                transform: translate3d(0px, 7px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(135deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
    
            }
            .navbar-toggler-icon.bottom {
                transform: translate3d(0px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                width: 30px;
                height: 4px; 
            }
        }
    }
    .navbar-toggler-icon {
        width: 30px;
        height: 4px;
        background-color: $black;
        border-radius: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        transition: .5s;
        &.bottom {
            width: 20px;
            margin-left: auto;

        }
    }
}

.page-section {
    padding-top: 70px;
    padding-bottom: 106px;
    @media (max-width: 992px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &.about_delivery {
        .position-relative {
            .leftside {
                max-width: 45%;
                position: absolute;
                bottom: 88px;
                left: -18px;
                box-shadow: 0 14px 42px 0 rgba(16, 16, 16, .14);
                transform: translate(0);
                border-radius: 16px;
                overflow: hidden;
                @media (max-width: 992px) {
                    border-radius: 10px;
                }
                img {
                    border-radius: 16px;
                }
                @media (max-width: 992px) {
                    max-width: 40%;
                    bottom: 60px;
                    left: -10px;
                }
            }
            .rightside {
                max-width: 55%;
                position: absolute;
                bottom: 46px;
                right: -52px;
                box-shadow: 0 14px 42px 0 rgba(16, 16, 16, .14);
                transform: translate(0);
                border-radius: 16px;
                overflow: hidden;
                @media (max-width: 992px) {
                    border-radius: 10px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    flex: 1;
                }
                @media (max-width: 992px) {
                    max-width: 50%;
                    bottom: 25px;
                    right: -10px;
                }
            }
            @media (max-width: 992px) {
               width: 90%;
               margin: 0 auto;
            }
        }
        .counter {
            margin-top: 100px;
            h3 {
                color: $black;
                font-size: 56px;
                font-weight: 700;
                line-height: 1.179em;
                span {
                    color:$base-color;
                    font-weight:700;
                }
                @media (max-width: 992px) {
                    text-align: center;
                    font-size: 33px;
                 }
            }
            p {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.111em;
                    @media (max-width: 992px) {
                        font-size: 18px;
                     }
            }
            @media (max-width: 992px) {
                .col-xs-6.col-sm-6.col-md-3 {
                    margin-bottom: 2rem;
                }
             }
        }
        @media (max-width: 992px) {
            p, h6, h1 {
                text-align: center;
            }
        }
    }
    
    &.bg-gray {    
        background-color: $gray;
    }
    .partners {
        margin-bottom: 110px;
    }
    &.news {
        .newsText {
            margin-bottom: 70px;
        }
        .card {
            padding: 98px 66px;
            border: 1px solid #ededed;
            background-color: white;
            box-shadow: 0 2px 12px 0 rgba(16, 16, 16, .08);
            border-radius: 24px;
            overflow: hidden;
            transform-style: preserve-3d;
            transition: box-shadow .6s, transform .6s;
            img {
                width: 167px;
                display: inline-block;
                margin-bottom: 1.625rem;
            }
            &:hover {
                box-shadow: 0 6px 24px 0 rgba(16, 16, 16, .14);
                color: $darkgray;
                transform: translate3d(0, -5px, .01px);
            }
            .card-body {
                padding: 0;
            }
            &:hover {
                .link-text {
                    transition: 1s;
                    i {
                        transition: 1s;
                        top: -5px;
                        right: -5px;
                    }
                }
            }
        }
        .card-title {
                color: $black;
                font-size: 28px;
                font-weight: 700;
                line-height: 1.429em;
                @media (max-width: 992px) {
                    font-size: 23px;
                 }
        }
        .medium {
            font-size: 20px;
            line-height: 1.1em;
            color:$darkgray;
            font-weight: 500;
        }
        .link-text {
            color:$base-color;
            font-size: 18px;
            font-weight: 700;
        }
        .mt24 {
            margin-top: 24px;
            a {
                color: $base-color;
                text-decoration: none;
                font-weight: 500;
                i {
                    position: relative;
                    transition: 1s;
                    &::before {
                        content: '';
                        background-image: url(../img/rightop.svg);
                        width: 12px;
                        height: 12px;
                        background-size: 12px 12px;
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
            }
            @media (max-width: 479px) {
                div {
                    flex-direction: column;
                    .medium {order: 1;margin-bottom: 1rem;}
                    .link-text {order: 2;}
                }
             }
        }
    }
    &.partners {
        h5 {
            color: $black;
            font-size: 28px;
            font-weight: 700;
            line-height: 1.429em;
        }
    }
    &.aboutUs {
        @media (max-width: 768px) {
            .col-md-6 {
                &:first-child {order: 2;}
                &:last-child {order: 1;}
            }
        }
    }
}

footer {
    .f1 {
    border-bottom: 1px solid var(--neutral--400);
    padding-top: 70px;
    padding-bottom: 83px;
    .footer-logo-wrapper {
        margin-bottom: 24px;
        img {
            width: 200px;
        }
    }
    @media (max-width: 479px) {
        .d-flex {
            flex-direction: column;    
            .btn-primary {
                width: 100%;
                margin: 10px 0 !important;
            }

        }
     }
     .ios {
        align-items: center;
        display: flex;
        &::before {
            display: inline-block;
            content: '';
            background-image: url(../img/ios.svg);
            width: 38px;
            height: 31px;
            background-size: 33px 31px;
        }
     }
     .andriod {
        align-items: center;
        display: flex;
        &::before {
            display: inline-block;
            content: '';
            background-image: url(../img/andriod.svg);
            width: 38px;
            height: 31px;
            background-size: 33px 31px;
            background-repeat: no-repeat;
        }
     }
    }
    .f2 {
         border-bottom: 1px solid var(--neutral--400);
        padding-top: 70px;
        padding-bottom: 83px;
        @media (max-width: 768px) {
            .col-md-3 {
                margin-bottom:30px;
            }
         } 

    h5 {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 1.1em;
        font-weight: 700;
    }
    .media {
        img {
            border-radius: 15px;
        }
    }
    .media-body  {
        img {
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
        }
        h5 {
             margin-bottom:0px;
             font-size: 18px;

        }
    }
    ul {
        &.list-unstyled:first-child {
            padding-right: 2.5rem;
        } 
        a {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.111em;
            color: $darkgray;
            text-decoration: none;
            &:hover {
                color: $base-color;
            }
            &.special {
                color: $base-color;
                font-weight: 700;
                border-bottom: 3px solid $base-color;
                padding-bottom: .5rem;
            }
        }
        li {
            margin-bottom: 18px;
            padding-left: 0;
            line-height: 1.111em;
        }
    }
    }
    .f3 {
        padding: 32px 0;   
    }
}

/* Override Bootstrap's default container width */
@media (min-width: 1270px) {
    .container {
      max-width: 1270px;
      padding-left: 24px;
      padding-right: 24px;
      transform: translate(0);
    }
  }

  .animated-text {
    display: inline-block;
    animation: textAnimation 4s infinite; /* Adjust the duration and iteration as needed */
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  [data-aos="fade-in"] {
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out; /* Adjust the duration and easing as needed */
  }

  /*popup*/
  .popup-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    // transition: 0.5s;
    z-index: 99;
    transition: all 2s ease;
    padding: 20px;
    transition: transform 0.53s ease-in-out;
    .popup-content {
        transform: translateX(0);
    }
    
    &.show {
        display: block;
        .popup-content {
            transform: translateX(-100%);
        }
    }
    h5 {
        font-weight: 700;
    }
    #close-btn {font-size: 2rem;font-weight: 100;cursor: pointer;transition:1s;
    &:hover {
        color: $base-color;
    }
    }
    .no-items {
        margin-bottom: 1rem;
        h5 {

        }
    }
  }
  
  .popup-content {
    transform: translateX(0);
    transition: transform 0.53s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    // padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    background-color: white;
    left: 100%; 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 468px) {
        width: 100%;
    }
  }
  
  .close-btn {
    font-size: 36px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  @media (max-width: 992px) {
    .resposinve {
        display: block !important;
        .cartBtn {
            &:hover {
                color: $base-color;
            }
        }
    }
    .container {
        padding: 2rem;
    }
    header {
        .container {
            padding: 0 2rem;
        }
    }
  }
    
  @media (min-width: 992px) {
    .resposinve {
        display: none !important;
    }
  }

  #movingBlock {
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    padding-top:35%;
    li {
        margin-bottom: 28px;
        a {
            font-size: 30px;
            padding: 0;
            font-weight: 500;
            line-height: 1.125em;
            &.active {
                color: $base-color;
            }
        }
    }
    @media (min-width: 992px) {
        display: none;   
    }
  }
  
  .menu-container {
    transform: translateY(-100%); /* Initial position is at 0px */
  }
  
  .menu-container.active {
    transform: translateY(0); /* Adjust the final position as needed */
  }
  